// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

td.left_align {
  text-align: left!important;
}

.table_scroll {
  overflow: scroll;
}

.calendar_picture {
  display: block;
}