.color {
    color: red;
}

.booking_content {
    border-bottom: black 2px solid;
}

.form_label {
    font-weight: bold;
    margin-right: 30px;
}

.form_td_left {
    text-align: right;
    width:30%;
}