@import "bootstrap";
// #topここから
.top_page {
  td, th {
    text-align: center;
    vertical-align: middle;
  }
  
  .title {
    .title_style {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  
  a.wide_link {
    display: block;
  }
  
  .can_not_choice {
    background-color: #9E9E9E;
    i {
      display: none;
    }
  }
  
}

.card.description {
    margin-bottom: 20px;
}


.description {
  .inner_card {
    margin: 30px;
    
    .label_zone {
      label {
        width: 80px;
      }
      
      p {
        display: inline-block;
        margin-left: 50px;
      }
    }
  }
}

td.impossible {
    background-color: #eae4e4;
}

@media (max-width: 700px) {
 table {
    // font-size: 3px;
  th {
    padding: 0!important;
  }
}
}

@media (max-width: 500px) {
  table {
    font-size: 12px;
  }
}
// #top終了




// #complete
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}


// indexページ
.select_form {
  height: 200px;
  overflow-y: scroll;
  max-height: 220px;
  border-top: #6a7378 3px solid;
}

.select_form_sp {
  border-top: #6a7378 3px solid;
}

.select_tr {
  cursor: pointer;
  border-bottom: 1px #c2bfbf solid;
}

.select_tr:hover {
  background-color: #eda8a2!important;
}

.selected {
  background-color: #a7a6a652;
}

.float-right {
  float: right;
}

.select_form_modal {
  height: 200px;
  overflow-y: scroll;
}
