commands:
  timezone-change:
    command: sed -i -e "s/UTC/Japan/g" /etc/sysconfig/clock
    ignoreErrors: false
  localtime-change:
    command: ln -sf /usr/share/zoneinfo/Japan /etc/localtime
    ignoreErrors: false
  update_bundler:
    command: /opt/rubies/ruby-2.6.5/bin/gem install bundler -v 1.17.2