<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <meta  name="viewport" content="width=device-width">
  </head>
  <body>
    <%= link_to "テスト", "https://pt01.mul-pay.jp/link/tshop00041183/Multi/Entry?ShopID=tshop00041183&OrderID=#{@order_id}&Amount=5000&DateTime=#{@date_time}&ShopPassString=#{@shop_pass_str}&RetURL=http://localhost:3000/payments/payment_callback&UseCredit=1&JobCd=CHECK&SiteID=#{@site_id}&MemberID=#{@member_id}&MemberPass
String=#{@member_pass_str}" %>
  </body>
  <style>
    .text_center {
      text-align: center;
    }

    .container {
      margin-top: 30px;
    }

    .card_color {
      background-color: #fbfafa;
    }

    .section_title_style {
      border-bottom: black 1px solid;
    }

  </style>

</html>

