<div class="complete_page">
  <div class="title">
    <!--<h2>予約に失敗しました。</h2>-->
  </div>
  
  <div class="complete_content card">
    <h4>もう一度日付選択からやり直してください。</h4>
    <%= link_to "日付選択へ", root_path, class: "btn btn-info btn_style"  %>
  </div>
</div>

<script>
  // 戻るボタン禁止
history.pushState(null, null, null);
$(window).on("popstate", function (event) {
    if (!event.originalEvent.state) {
        alert("戻る操作はできません。")
        history.pushState(null, null, null);
        return;
    }
});
</script>