<div id="holiday_calendar"></div>
<div id="holiday_data" data-json_data="<%= @json_data %>"></div>

<div id="iregular_holiday_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
