<ul id="myTab" class="nav nav-tabs" role="tablist">
  <% @staffs.each do |staff| %>
    <li class="nav-item">
      <%= link_to staff.name, user_calendar_dashboard_path(current_user, @calendar, staff_id: staff), class:"nav-link #{staff.active_display(@staff)}" %>
    </li>
  <% end %>
</ul>


<div id="calendar"></div>
<div id="data" data-date_current='{"key":"2019-08-24"}' data-events="<%= @events %>"></div>

<div id="user_task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


