
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" />
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
</head>

<div class="complete_page">
  <div class="title">
    <h2>定期課金が登録されました。</h2>
  </div>

  <div class="card">
    <div class="card-header">内容</div>
    <table class="table mb-0">
      <tbody>
        <tr>
          <th scope="row">課金プラン</th>
          <td>予約システム有料プラン</td>
        </tr>
        <tr>
          <th scope="row">プラン料金</th>
          <td>5000円/月</td>
        </tr>
        <tr>
          <th scope="row">課金登録日</th>
          <td><%= @order_plan.created_at %></td>
        </tr>
        <tr>
          <th scope="row">登録カード</th>
          <td><%=  %></td>
        </tr>
        <tr>
          <th scope="row">お客様email</th>
          <td><%= current_user.email %></td>
        </tr>
        
      </tbody>
    </table>
    <div class="card-footer">
      <%= link_to "カレンダーへ", user_calendar_dashboard_path(current_user, current_user.calendars.first), class:"btn btn-primary" %>
      
    </div>
  </div>