<div class="page_title title_company"><h2>プライバシーポリシー</h2><div class="subeng">Privacy Policy</div></div>
<div id="wrapper">
<div class="contents">
<p class="center bold">株式会社テックリーダーズが運営する予約システム<br>
  本予約システムにおける個人情報の管理・取り扱いに関して</p><br>
<p>はじめに、株式会社テックリーダーズ（以下、「弊社」）は、各種法的サービスのご提供にあたり、お客様の個人情報をお預かりしております。弊社は、法律を取り扱う国家資格者の事務所として個人情報を保護し、お客様に更なる信頼性と安心感をご提供できるように努めて参ります。 弊社は、個人情報に関する法令を遵守し、個人情報の適切な取り扱いを実現致します。</p>

<h2 class="subhead"><span>個人情報保護方針</span></h2>
<p class="bold">1．個人情報の取得について</p>
<p>①	お客様がご自身で提供していただいた情報<br>
  弊社が受領する個人識別情報の多くは、弊社の各種商品や有料・無料のサービスを取得することに関心のあるお客様から直接提供していただいたものです。<br>
  これらの情報には通常、お客様の氏名、住所、電子メールアドレス、電話番号等が含まれます。お客様が商品やサービスを購入した場合には、例えば、クレジットカード情報（クレジットカード番号は弊社には送信されず、直接、各カード会社に、照会されます）、注文又は購入したサービス又は商品の種類がわかります。<br>
  弊社はお客様がウェブサイトに登録、ログオン又は訪問したときにも（無料提供情報希望登録、メールマガジン購読登録、ウェブサイト上の活動への参加を含みます）個人情報を収集することがあります。</p>
<p>②ITによって収集される情報<br>
  弊社はお客様にとってより使いやすいサービスを提供するためにITを用いて情報を収集します。<br>
  例えば、お客様が弊社のサイトのいずれかを閲覧したときに、弊社は、お客様のIPアドレスを収集します。 IPアドレスは、お客様のインターネットサービスプロバイダー、会社又は大学などのようにお客様がインターネットに接続するためのポータルに関係しています。 IPアドレスのみでは個人を識別できません。<br>
  弊社は、お客様がサイトを閲覧した回数に関する情報を統計的に収集するために、IP アドレスを利用することもあり、この情報を個人識別情報と考えます。</p>
<p>③行動ターゲティング広告に関する考え方<br>
  ・Googleサービス利用時<br>
  弊社にGoogleでご利用中のメールアドレスをご提供いただいているお客様について、該当Googleアカウントにてログイン中の場合は、弊社製品情報をタイムリーにご提供するサービスを行っております。具体的にはGoogleアカウントにてログイン中で、Google検索、Gmail又はYoutubeなどGoogleサービス利用時に弊社製品情報が表示されることがあります。（Googleの提供する“カスタマーマッチ”といったサービスで、一般的には“行動ターゲッティング”といったサービス機能の利用です。） 弊社にご提供いただいているGoogleメールアドレスは、この機能を利用する目的で弊社とGoogleとで共有いたします。弊社からGoogleへのお客様Googleメールアドレスのアップロード及び保管はGoogle が承認する API とインターフェースのみを使用し、安全な暗号化手段で保護しています。（弊社からGoogleにはお客様のGmailアドレス以外の個人情報を提供することはありません。） 上記機能の停止は個人情報保護法の定める法的手続きに則って適正に対処いたします。（保護法第23条第2号）</p>
<p>・FBサービス利用時<br>
  弊社にFacebookでご利用中のメールアドレスをご提供いただいているお客様について、該当Facebookアカウントにてログイン中の場合は、弊社製品情報をタイムリーにご提供するサービスを行っております。具体的にはFacebookアカウントにてログイン中で、Facebookサービス利用時に弊社製品情報が表示されることがあります。（Facebookの提供する“カスタムオーディエンス”といったサービスで、一般的には“行動ターゲッティング”といったサービス機能の利用です。） 弊社にご提供いただいているメールアドレスは、この機能を利用する目的で弊社とFacebookとで共有いたします。弊社からFacebookへのお客様メールアドレスのアップロード及び保管はFacebook が承認する API とインターフェースのみを使用し、安全な暗号化手段で保護しています。（弊社からFacebookにはお客様のメールアドレス以外の個人情報を提供することはありません。）上記機能の停止は個人情報保護法の定める法的手続きに則って適正に対処いたします。（保護法第23条第2号）</p>
<p>・Yahoo!サービス利用時<br>
  弊社にYahoo!でご利用中のメールアドレスをご提供いただいているお客様について、該当Yahoo!アカウントにてログイン中の場合は、弊社製品情報をタイムリーにご提供するサービスを行っております。具体的にはYahoo!アカウントにてログイン中で、Yahoo!サービス利用時に弊社製品情報が表示されることがあります。（Yahoo!の提供する“Yahoo! DMP”といったサービスで、一般的には“行動ターゲッティング”といったサービス機能の利用です。） 弊社にご提供いただいているメールアドレスは、この機能を利用する目的で弊社とYahoo!とで共有いたします。弊社からYahoo!へのお客様メールアドレスのアップロード及び保管はYahoo!が承認する APIとインターフェースのみを使用し、安全な暗号化手段で保護しています。（弊社からYahoo!にはお客様のメールアドレス以外の個人情報を提供することはありません。）上記機能の停止は個人情報保護法の定める法的手続きに則って適正に対処いたします。（保護法第23条第2号）</p>
<br>
<p class="bold">2．個人情報の利用について</p>
<p>弊社は、個人情報を以下の利用目的の達成に必要な範囲内で、利用致します。 <br>
  以下に定めのない目的で個人情報を利用する場合、あらかじめご本人の同意を得た上で行ないます。</p>
<p>①ご注文された方の個人情報：サービス実施と商品納品およびメールマガジン（LINE＠マガジン）配信のため<br>
  ②メールマガジン（LINE＠マガジン）へ申込みされた方の個人情報：メールマガジン（LINE＠マガジン）配信のため<br>
  ③無料講座申込みされた方の個人情報：サービス実施とメールマガジン（LINE＠マガジン）配信のため<br>
  ④無料ウェブセミナー申込みされた方の個人情報：サービス実施とメールマガジン配信のため<br>
  ⑤お問い合わせされた方の個人情報：お問い合わせに対する回答のため<br>
  ⑥アフィリエイターの個人情報：アフィリエイターへの連絡や報酬支払いのため<br>
  ⑦弊社の採用に応募された方の個人情報：弊社採用業務における応募者対応のため<br>
  ⑧弊社に就労された方の個人情報：人事労務関連業務における従業者対応のため</p>
<br>
<p class="bold">3．個人情報の安全管理について</p>
<p>弊社は、取り扱う個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。</p>
<br>
<p class="bold">4．個人情報の委託について</p>
<p>弊社は、個人情報の取り扱いの全部または一部を第三者に委託する場合は、当該第三者について厳正な調査を行い、取り扱いを委託された個人情報の安全管理が図られるよう当該第三者に対する必要かつ適切な監督を行います。</p>
<br>
<p class="bold">5．個人情報の第三者提供について</p>
<p>弊社は、個人情報保護法等の法令に定めのある場合を除き、個人情報をあらかじめご本人の同意を得ることなく、第三者に提供致しません。</p>
<br>
<p class="bold">6．個人情報の開示・訂正等について</p>
<p>弊社は、ご本人から自己の個人情報についての開示の請求がある場合、速やかに開示を致します。<br>
  その際、ご本人であることが確認できない場合には、開示に応じません。<br>
  個人情報の内容に誤りがあり、ご本人から訂正・追加・削除の請求がある場合、調査の上、速やかにこれらの請求に対応致します。<br>
  その際、ご本人であることが確認できない場合には、これらの請求に応じません。<br>
  弊社の個人情報の取り扱いにつきまして、上記の請求・お問い合わせ等ございましたら、下記までご連絡くださいますようお願い申し上げます。</p>
<p>【連絡先】<br>
  株式会社テックリーダーズ<br>
  E-mail：info@tech-leaders.co.jp<br>
  電話：03－4500-9844（平日10:00～18:00）</p>
<br>
<p class="bold">7．組織・体制</p>
<p>弊社は、小松和貴を個人情報管理責任者とし、個人情報の適正な管理及び継続的な改善を実施致します。</p>
<br>
<p class="bold">8．プライバシーポリシーの改定について</p>
<p>弊社はお客さまが安心して弊社サービスをご利用いただけるよう、本プライバシーポリシーを適宜見直し、改定してまいります。改定された場合は、速やかに当ページを更新致します。<br>
  変更後の本方針については、 弊社が別途定める場合を除いて、当サイトに掲載した時から効力を生じるものとします。</p>
<br>
<p class="right">制定：平成30年1月1日<br>改定：平成30年2月15日</p>
<p class="right">株式会社テックリーダーズ<br>小松 和貴</p>
</div><!-- contents_end -->
</div><!-- wrapper_end -->

<style>
  
.page_title {
    margin: 0;
    padding: 100px 0;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    width: 1100px;
    margin: 0 auto 0 auto;
    padding: 45px 0 1px 0;
}
.contents {
    width: 720px;
    margin: 0 auto 120px auto;
    padding: 0;
}
.right {
    text-align: right;
}
.bold {
    font-weight: bold;
}
.subhead {
    overflow: hidden;
    text-align: center;
    margin: 60px 0 30px 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 180%;
    color: #ac873d;
}
.center {
    text-align: center;
}
</style>