<div class="container">
  <div class="page_title title_company"><h2>利用規約</h2><div class="subeng">予約システム</div></div>
				<div id="main-wrap">
	             <p>株式会社テックリーダーズが提供する予約サービスをご利用されるお客様には、本規約が適用されます。各サービスの利用に際しては、本規約の内容をご確認ください。</p>
<h2>第１章　総則</h2>
<h4>第１条（目的）</h4>
<p>この利用規約（以下「本規約」という）は、株式会社テックリーダーズ（以下「当社」という）と、当社が提供する予約システムのサービス（以下「本サービス」という）の利用者との間の基本的な事項を規定することを目的とします。</p>
<h4>第２条（用語の定義）</h4>
<p>本規約では、以下の用語は以下の意味で使用するものとします。</p>
<ul>
<li>1.「本サービス」当社が提供する予約システム及び付随するオプションサービスをいいます。</li>
<li>2.「利用契約」当社と利用者との間で、本規約に基づいて締結される契約をいいます。</li>
<li>3.「利用者」本サービスを利用する法人又は個人をいいます。</li>
<li>4.「利用希望者」利用者になろうとする法人又は個人をいいます。</li>
<li>5.「顧客」利用者が販売・提供する商品・役務の購入・利用を希望する法人又は個人をいます。</li>
<li>6.「第三者」当社及び利用者以外の法人又は個人で、「顧客」を含むものをいいます。</li>
</ul>
<h4>第３条（本規約の変更）</h4>
<ul>
<li>1.当社は、利用者の承諾を得ることなく、本規約の内容を変更することができるものとします。この場合、当社は、本規約変更後、すみやかに利用者から届け出のあった通知先（電子メールアドレス又は所在地）にその内容を通知するか、又は、インターネット上の当社Webサイト上に変更後の規約をアップロードするものとします。</li>
<li>2.当社が本規約を変更した場合には、当社が別途定める場合を除き、当社が前項の通知を発信した時点、又は、変更後の規約が、インターネット上の当社Webサイト上にアップロードされた時点のいずれか先に手続きが完了した時点で当該規約が効力を生じるものとします。</li>
<li>3. 本規約の変更後も引き続き利用者が本契約を継続する場合、本規約の変更に同意したものとみなします。</li>
</ul>
<h4>第４条（通知の方法）</h4>
<ul>
<li>1.当社は、次の各号のいずれかに該当する事由が発生した場合、遅滞なく、利用者が通知先として届け出た通知先（電子メールアドレス又は所在地）に通知（電子メールの送信又は郵送）するか、インターネット上の当社Webサイト上にアップロードする方法により通知します。
<ul>
<li>1.本サービス内容及び利用条件の変更（サービス・機能の追加・変更又は削除等）</li>
<li>2.本サービスの利用を中止・中断する場合</li>
<li>3.本サービスを終了する場合</li>
<li>4.その他、当社が必要であると判断する事由が発生した場合</li>
</ul>
</li>
<li>2.本条の通知は、当社が別途定める場合を除き、当社が利用者に対し発信した時点、又は、インターネット上の当社Webサイト上にアップロードされた時点のいずれか先に手続きが完了した時点で通知したものとみなします。</li>
<li>3. 利用者から当社への通知は、当社所定の問合せフォームから、又は問合せ用メールアドレス宛に行うものとします。当社は、問合せフォーム又は問合せ用メールアドレス以外からの通知については、対応することができません。</li>
</ul>
<h2>第２章　本サービスの内容</h2>
<h4>第５条（本サービスの内容）</h4>
<ul>
<li>1.本サービスは、有料プラン及びそれらに付随するオプションサービスから構成されます。</li>
<li>2.本サービスにおける各プランにおいて提供される機能の内容及び料金等は、当社が別途定めるとおりとします。</li>
<li>3.利用者は、本サービスを利用することで、顧客から、当該商品・役務に関する問合せ及び購入・利用の申込みを受けることができます。利用者は、本サービスを通じて問合せ及び申込みをしてきた顧客に対し、速やかに連絡を取り、誠意をもって対応の上、申込みを承諾する場合は、自己の責任において、商品・役務の販売・提供に係る契約の締結及び履行に必要な手続きを行うものとします。</li>
<li>4.利用者は、本契約で認められた範囲で、自己の業務従事者をして、本サービスを利用させることができます。この点、関連会社・関連団体など、利用者と権利義務の帰属主体たる地位を異にする者（の業務従事者）をして本サービスを利用させることは、それが利用者が販売・提供する商品・役務に関する問合せ及び購入・利用の申込みを受けるための利用であったとしても、許されません。但し、当社が別途個別に認めた場合は、この限りではありません。</li>
<li>5.当社は、利用者が本サービスを利用することに関し、顧客からの問合せ数の向上、契約の成約数・成約率の向上、、その他一切の結果の発生、向上、改善等を保証するものではありません。当社は、利用者に対し、本サービスを通じて問合せ及び申込みをしてきた顧客が実在していること、権利能力及び行為能力を有していること、利用者と契約を締結する権限を有していること、顧客との間で何ら紛争が生じないこと等を保証するものではありません。これらの事項の調査は、利用者の自己責任とします。</li>
</ul>
<h4>第６条（本サービスの内容及び利用条件の変更）</h4>
<p>当社は、本サービスで提供する機能の内容及び利用料金等の利用条件を、いつでも変更できるものとします。なお、かかる変更にあたっては、変更の前までに利用者に対して通知し、利用者が、変更までに、第２５条（利用者が行う解約）に基づき利用契約の解約を申し出なかった場合、利用者は、機能の内容及び利用料金等の変更に同意したものとみなします。</p>
<h4>第７条（利用料金の支払）</h4>
<ul>
<li>1. 本サービス利用契約の終了、本サービス提供の中止、本サービス提供の停止等、いかなる事由があったとしても、又、如何なる請求原因に基づく場合でも、受領した初期費用、月額費用及び従量課金等の利用料金は一切払戻し致しません。</li>
</ul>
<h2>第３章　利用契約の締結</h2>
<h4>第８条（利用申込みの方法）</h4>
<ul>
<li>1.本サービスの利用希望者は、本規約に同意した上で、当社が別途定める手続きに従って、利用契約の申込みをするものとします。</li>
<li>2.利用契約は、利用希望者からの前項の利用契約の申込みを、当社が審査の上、承諾した時に成立するものとします。</li>
</ul>
<h4>第９条（利用申込みの拒絶）</h4>
<p>当社は、利用希望者が以下のいずれかに該当する場合、利用希望者の利用契約の申込みを承諾しないことがあります。なお、当社は、上記判断に関する理由を開示する義務は負いません。</p>
<ul>
<li>1.利用希望者が実在しない場合</li>
<li>2.利用契約の申込みに虚偽の内容があった場合</li>
<li>3.利用希望者が本規約の第１２条（禁止事項）に違反するおそれがあると当社が判断した場合</li>
<li>4.利用希望者の経済的信用状態が悪化し、又はそのおそれがあると認められる相当の事由がある場合</li>
<li>5.反社会的勢力である場合、又はそのおそれがある場合</li>
<li>6.その他当社が利用契約の申込みを拒絶することが相当と判断する場合</li>
</ul>
<h2>第４章　利用者の義務</h2>
<h4>第１０条（本規約の遵守）</h4>
<p>利用者は、本サービスの利用にあたり、本規約の他、当社が別途定めるガイドライン、ヘルプ、その他の本規約以外の本サービスに関する規程及び当社からの通知に従うものとします。本規約以外の規程及び通知は、本規約の一部を構成するものとしますが、本規約とそれらの内容とが異なる場合は、本規約が優先して適用されます。</p>
<h4>第１１条（禁止事項）</h4>
<p>当社は、利用者による以下の各号に定める行為又は該当すると当社が判断する行為を禁止します。</p>
<ul>
<li>1.当社、他の利用者もしくは第三者の権利又は法律上の利益（著作権、特許権、営業秘密、財産権、名誉権、プライバシー権等を含むがこれに限られない）を侵害する又は侵害するおそれのある行為</li>
<li>2.当社、他の利用者もしくは第三者に損害を与える行為、またはそれらのおそれのある行為</li>
<li>3.当社、他の利用者もしくは第三者を誹謗中傷し、信用を毀損する行為</li>
<li>4.当社の事前の同意なくして本サービスを第三者に利用させる行為</li>
<li>5.本サービスを、面識のない異性との性交、出会い等を主な目的としたサイトを運営する行為</li>
<li>6.本サービスを、法令に違反する行為、犯罪行為、公序良俗に反する行為に利用する行為</li>
<li>7.自ら、又は第三者をして、同一利用者のためのID及びパスワードを、当社の承諾なく、複数取得する行為</li>
<li>8.事実に反する、またはそのおそれのある情報を提供する行為</li>
<li>9.本サービスの運営を妨げる行為、またはそのおそれのある行為</li>
<li>10.ID及びパスワードを不正に使用する行為（自己に発行されたID及びパスワード以外のID及びパスワードを使用する場合を含むがこれに限られない）。</li>
<li>11.当社の書面による事前同意なくしてID及びパスワードを第三者に貸与する行為</li>
<li>12.本サービスに関し、コンピューターウィルス等の有害なプログラムを使用ないし提供する行為</li>
<li>13.当社が指定するデータ転送量を超過して、本サービスを使用する行為（当社が指定するデータ転送量を超過した場合には、専用サーバーのご利用をご検討いただくことなります。）</li>
<li>14.公序良俗に反する行為もしくはそのおそれのある行為、または公序良俗に反する情報を他の利用者もしくは第三者に提供する行為</li>
<li>15.法令等に違反する、または違反するおそれのある行為</li>
<li>16.その他、当社が不適切と判断する行為</li>
</ul>
<h4>第１２条（設備等の準備、維持及びID・パスワードの管理）</h4>
<ul>
<li>1.利用者は、本サービスの利用にあたり、必要となる通信機器、ソフトウェア、その他これらに付随する全ての機器の準備および回線利用契約の締結、インターネット接続サービスへの加入等について、自己の費用と責任において行うものとします。</li>
<li>2.当社は、利用者が本サービスを利用するためのネットワーク通信を行うことができる動作環境にあることを何ら保証しません。</li>
<li>3.当社は、利用者が用いた通信機器、ソフトウェア、その他これらに付随して必要となる全ての機器、電気通信回線、インターネット接続サービスなどの不具合等によって、利用者が本サービスを受けられなかったとしても、当社は何らの責任も負いません。</li>
<li>4.利用者は、当社による本サービスの提供に支障をきたさないように、利用者の通信機器等を正常に作動するよう維持する責任を負うものとします。</li>
<li>5.利用者が、当社の設備または本サービスの不具合を発見したときは、当社にその旨通知し、当該不具合の修理または復旧を求めるものとします。</li>
<li>6.利用者は、当社が発行したID・パスワードを善良な管理者の注意をもって保管・管理するものとし、利用者に発行されたID・パスワードによる行為は、利用者の行為とみなすものとします。利用者よるＩＤ・パスワードの管理不十分、使用上の過誤、不正使用等によって利用者が損害を被ったとしても、当社は一切責任を負わないものとします。</li>
</ul>
<h4>第１３条（情報の削除等）</h4>
<ul>
<li>1. 利用者は、本サービスを通じて表示される情報について、自ら管理責任を負うものとします。また、利用者は、本サービス上に送信する情報（以下単に「情報」といいます。）について、自らが送信することについて適法な権利を有していること及び当社又は第三者の権利を侵害するものではないことを保証します。</li>
<li>2. 利用者は、本サービス上に送信する情報に係る知的財産権を、送信後も引き続き保有します。当社は、本サービスの運営のために必要な範囲に限って、情報を使用又は利用（複製、翻案、公衆送信及びそのために必要な送信可能化を含み、これに限りません。）することができるものとします。利用者はこれに対し、当社並びに当社より正当に権利を取得した第三者及び当該第三者から権利を承継した者に対し、著作者人格権を行使しないことに同意します。</li>
<li>3. 当社は、以下のいずれかに該当し又は該当すると当社が判断した場合は、事前に通知することなく、情報の全部又は一部を閲覧、保存、復元し、または第三者へ開示することがあります（以下「閲覧等」といいます。）。なお、当社は上記判断に関する理由を開示する義務は負いません。
<ul>
<li>1.利用者の同意を得たとき</li>
<li>2.当社が閲覧等の同意を求める連絡を利用者に行なってから７日以内に、当該利用者からの回答がなかったとき</li>
<li>3.裁判所、警察等の公的機関から、法令に基づく正式な要請を受けたとき</li>
<li>4.法律に従い閲覧等の義務を負うとき</li>
<li>5.利用者が本規約所定の禁止行為を行ったとき</li>
<li>6.利用者又は第三者の生命・身体・その他重要な権利を保護するために必要なとき</li>
<li>7.本サービスのメンテナンスや技術的不具合解消のために必要があるとき</li>
<li>8.上記各号に準じる必要性があるとき</li>
</ul>
</li>
<li>4. 当社は、以下のいずれかに該当し又は該当すると当社が判断した場合は、事前に通知することなく、情報について、その全部又は一部を削除し又は公開・掲載を一時停止することができます（以下「削除等」といいます。）。当社は、削除された情報について、当該情報の復旧を含めて、一切責任を負わず、また、上記判断に関する理由を開示する義務は負いません
<ul>
<li>1.利用者の同意を得たとき</li>
<li>2.当社が削除等の同意を求める連絡を利用者に行なってから７日以内に、当該利用者からの回答がなかったとき</li>
<li>3.裁判所、警察等の公的機関から、法令に基づく正式な要請を受けたとき</li>
<li>4.法律に従い削除等の義務を負うとき</li>
<li>5.利用者が本規約所定の禁止行為を行ったとき</li>
<li>6.利用者又は第三者の生命・身体・その他重要な権利を保護するために必要なとき</li>
<li>7.その理由を問わず、本契約が終了したとき</li>
<li>8.本サービスが変更、中断、終了等したとき</li>
<li>9.上記各号に準じる必要性があるとき</li>
</ul>
</li>
<li>5.前２項の規定は、当社に対し、同項がそれぞれ定める措置をとる義務を課すものではありません。</li>
<li>6. 本条の規定に従い、当社が情報を閲覧等又は削除等し、または情報を閲覧等又は削除等しなかったことにより、利用者もしくは第三者に損害が発生したとしても、当社は一切その責任を負いません。</li>
</ul>
<h4>第１４条（個人情報の管理）</h4>
<ul>
<li>1.利用者は、本サービスを使用して取得した個人情報について、適切に管理し、第三者による盗取、漏洩等が発生することを防止するための措置を講じるものとします。なお、当社は利用者から、個人情報の保護に関する法律（平成１５年法律第５７号）に定める個人データの取扱いの全部又は一部の委託を受けるものではありません。</li>
<li>2.前項の他、利用者は個人情報保護法を遵守するものとし、偽りその他不正の手段により取得した個人情報を、本サービス上で使用しないものとします。</li>
</ul>
<h4>第１５条（情報のバックアップ）</h4>
<p>当社は、本サービスで使用するデータについて、安全に管理するよう努めますが、本サービスが、本質的に情報の喪失、改変、破壊等の危険が内在するインターネット通信網を利用した電磁的サービスであることに鑑みて、利用者は、データを自らの責任においてバックアップするものとします。当該バックアップを怠ったことによって利用者が被った損害について、当社は、データの復旧を含めて、一切責任を負いません。当社は、システム保安上の理由等により、一時的にバックアップを実施する場合があります。但し、当該バックアップは、利用者のデータ保全を目的とするものではなく、当社は、利用者が要求するバックアップデータの提供に応じる場合であっても、当該データの完全性等を含めて、何ら保証をいたしかねます。</p>
<h2>第５章　当社の義務</h2>
<h4>第１６条（当社の維持責任）</h4>
<p>当社は、本サービスの品質につき少なくとも本サービス提供時の技術標準を前提として、合理的な企業努力をするよう努めるものとします。</p>
<h4>第１７条（個人情報の取扱い）</h4>
<ul>
<li>1.当社は、本サービスの提供に関して取得した利用者の個人情報を、当社のプライバシーポリシーに基づき取り扱うものとします。</li>
<li>2.当社は、個人情報保護法を遵守するものとします。</li>
</ul>
<h2>第６章　本サービスの提供の中断及び停止</h2>
<h4>第１８条（本サービスの中断）</h4>
<ul>
<li>1.当社は、次の各号のいずれかに該当する場合、本サービスの提供を中断することがあります。
<ul>
<li>1.本サービスの提供に必要なシステムやサーバー等の設備の一部もしくは全部につき、システム拡張、メンテナンス等を行うためこれらを停止させる場合</li>
<li>2.本サービスの提供に必要なシステムやサーバー等の設備の障害を補修する場合</li>
<li>3.第三者からの不正アクセスを受けた場合等、当社が、本サービスを中断する合理的理由が認められると判断した場合</li>
<li>4.天災、地変等の非常事態が発生し、ないし発生するおそれがある場合</li>
<li>5.当社が利用する電気通信設備の障害等、やむを得ない事由が生じた場合</li>
<li>6.電気通信事業者が電気通信役務の提供を停止した場合</li>
<li>7.その他、当社が本サービスの提供の全部または一部を中止することが必要であると判断した場合</li>
</ul>
</li>
<li>2.前項の本サービスの提供の中断によって、利用者及び第三者に損害が発生したとしても、当社は一切その責任を負いません。</li>
<li>3.第１項の規定により本サービスの提供を中断するときは、当社は原則としてあらかじめその理由、提供を中断する日時及び期間を利用者に通知します。ただし、緊急その他やむを得ない場合はこの限りではないものとします。</li>
</ul>
<h4>第１９条（本サービスの停止）</h4>
<ul>
<li>1.当社は、利用者が次の各号のいずれかに該当する場合は、本サービスの提供の全部又は一部を停止することがあります。
<ul>
<li>1.第１２条（禁止事項）の行為を行った場合</li>
<li>2.利用料金を指定の期日に支払わない場合</li>
<li>3.本規約に違反し、１週間以内に違反状態を是正するように催告したにもかかわらず、違反状態を解消できなかった場合</li>
<li>4.当社が不適当と判断する行為を行った場合</li>
</ul>
</li>
<li>2.前項の本サービスの提供の停止によって、利用者及び第三者に損害が発生したとしても、当社は一切その責任を負いません。</li>
<li>3.第１項の規定により本サービスの提供の停止をするときは、当社はその判断に関する理由を開示する義務は負いません。</li>
</ul>
<h2>第７章　一般条項</h2>
<h4>第２０条（知的財産権等）</h4>
<ul>
<li>1.本サービスに関する特許権、商標権、意匠権、著作権、営業秘密等の一切の権利は、全て当社またはその他の権利者に属します。</li>
<li>2.利用者は、本サービスを通じて提供されるいかなる情報についても、その著作権等の権利者の許諾なくして自ら利用し又は、第三者に利用させることはできません。</li>
<li>3.本条第１項及び第２項に関して、利用者と他の利用者ないし第三者との間で問題・紛争が発生した場合、利用者は、自己の費用と責任において、当該問題・紛争を解決し、当社に何等の迷惑または損害を与えません。</li>
<li>4. 利用者は、本サービスに対して、リバースエンジニアリング、逆コンパイル、又は逆アセンブラ、その他本サービスを解析しようと試みてはならないものとします。</li>
</ul>
<h4>第２１条（損害賠償及び当社の免責）</h4>
<ul>
<li>1. 当社の責めに帰すべき事由により、利用者が本サービスを利用できなかったことにより（以下「利用不能」という）、利用者又は第三者に損害が発生した場合であって、利用者が利用不能となったことを当社が知った日時から起算して２４時間以上（休業日除く）利用不能の状態が継続したときに限り、利用者が当社に対して支払う別途定めた月額費用を上限として、当社は、当該利用者に現実に発生した通常かつ直接の損害を賠償するものとします。利用不能以外の当社の責めに帰すべき事由により利用者に損害が発生した場合、当社は、利用者が当社に対して支払う別途定めた月額費用を上限として、当該利用者に現実に発生した通常かつ直接の損害を賠償するものとします。</li>
<li>2.前項の「利用不能」には、本規約第１９条（本サービスの中断）ないし第２０条（本サービスの停止）の定めに従って本サービスの提供を中断・停止する場合は含まれないものとします。</li>
<li>3. 当社は、当社の任意の判断により、第1項における損害賠償の支払に代えて、当該損害賠償の対象となる事由が生じた月の翌月以降に係る月額費用と、当該損害賠償額とを、対当額で相殺する（すなわち月額費用の全部又は一部を減額する）ことができるものとし、利用者は、かかる処理に対して、異議を述べないものとします。</li>
<li>4. 当社の責に帰すべからざる事由によって利用者に生じた損害、当社の予見の有無に拘らず特別の事情から生じた損害、逸失利益については、当社は一切責任を負わないものとします。</li>
<li>5.天災、地変その他の不可抗力により本サービスを提供できなかったときは、当社は一切その責を負わないものとします。</li>
<li>6.当社は、電気通信事業者の責に期すべき事由により利用者が損害を被った場合、一切責任を負わないものとします。</li>
<li>7.利用者が、本サービスの利用により自ら取得した第三者の個人情報を盗取され、また漏洩したことにより第三者に損害を及ぼした場合、当社は、一切その責を負わないものとします。</li>
<li>8.本サービスの利用に関連し、利用者が他の利用者または第三者に対して損害を与えたものとして、他の利用者または第三者から何らかの請求がなされ、または訴訟が提起された場合、当該利用者は、自らの費用と責任において当該請求または訴訟を解決するものとし、当社は一切の責任を負わないものとします。</li>
<li>9.本サービスの内容及び利用者が本サービスを通じて得る情報等の完全性、正確性、確実性、有用性等については、当社は一切保証しません。</li>
<li>10.当社は、本サービスに関連して利用者に損害が発生したとしても、本規約にて明示的に定める場合以外には一切責任を負いません。</li>
<li>11. 本条その他本契約に定める当社の責任を全部又は一部免除する規定は、当社に故意又は重過失がある場合は適用しません。</li>
</ul>
<h4>第２２条（他ネットワークとの関係）</h4>
<ul>
<li>1.利用者は、本サービスの利用にあたり、外国の法令、国内外の電気通信事業者等が定める契約規約等により制限される場合があることを承諾します。</li>
<li>2.利用者が、国内外の他のネットワークを経由して通信を行う場合、その経由する全ての国の法規、通信業者の規約等および全てのネットワークの規則に従う必要があります。</li>
</ul>
<h4>第２３条（権利義務の譲渡等禁止）</h4>
<ul>
<li>１．利用者は、利用契約に基づく権利、義務の全部又は一部を第三者に譲渡し、もしくは貸与、売買、名義変更、質権の設定その他の担保に供する等の処分行為を行うことはできないものとします。</li>
<li>２．当社は、本サービスに係る事業を第三者に譲渡（通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。）した場合には、当該事業譲渡に伴い、本契約上の地位又は本サービスに基づく権利義務並びに登録事項、情報、個人情報、その他の情報を当該事業譲渡の譲受人に譲渡することができるものとし、利用者は、かかる譲渡に予め同意します。</li>
</ul>
<h4>第２４条（利用者が行う解約）</h4>
<ul>
<li>1. 利用者は、当社所定の方法により、解約希望月の前月末日までに、当社に通知することにより、解約希望月の末日限りで、利用契約を解約することができます。</li>
<li>2.前項の解約がなされた場合、当社は、解約後速やかに本サービスの提供を停止します。また、当社は、当社の判断により、本サービスにおける、利用者及び利用者の顧客に関する情報を消去することができるものとします。</li>
<li>3.解約により利用契約が終了した場合、利用者は、利用契約終了の日までに発生する当社に対する債務の全額を、当社の指示に従い、一括して支払うものとします。</li>
<li>4.利用契約締結日から６か月間は、最低契約期間とします。利用者は、最低契約期間内に第１項の解約を行うことはできません。また、利用契約の更新以降、当該更新した契約期間が満了する前に利用者が第１項の解約を行う場合、利用者は、解約日から当該期間満了日までの残期間分の利用料金を、当社の指示に従い、一括して支払うものとします。当該残期間分の利用料金が既に支払われている場合は、当社は、当該支払済みの利用料金の返還を行わないものとします（当該支払済みの利用料金が、残期間分の全ての利用料金に満たない場合には、利用者は、当該不足分の利用料金を、当社の指示に従い、一括して支払うものとします。）。</li>
</ul>
<h4>第２５条（当社が行う解約）</h4>
<ul>
<li>1.当社は、利用者が以下の各号の一に該当する場合、事前に利用者に催告することなく、直ちに当該利用者との間の利用契約を解約することができるものとします。
<ul>
<li>1.第１２条（禁止事項）の各号に定める行為を行った場合</li>
<li>2.当社への申告、届出内容に虚偽があった場合</li>
<li>3.利用料金の支払債務の滞納があった場合</li>
<li>4.利用者が法人の場合で、実際に従業員、事務所等が存在せず、実質的に業務が停止していると認められるとき</li>
<li>5.差押え・仮差押え・仮処分・強制執行等を受けたとき</li>
<li>6.手形・小切手が不渡りになったとき</li>
<li>7.支払の停止があったとき、または破産、民事再生手続開始、会社更生手続開始もしくは特別清算開始の申立てがなされたとき</li>
<li>8.解散もしくは事業が廃止になったとき</li>
<li>9.公租公課の滞納処分を受けたとき</li>
<li>10.その他、本規約に違反した場合のほか、利用者として不適切と当社が判断した場合</li>
</ul>
</li>
<li>2.当社は、利用契約期間中であっても、利用者に対し、１か月前に通知をした上で、利用契約の一部または全部を解約し、終了させることができます。</li>
<li>3.本条による解約がなされた場合、当社は利用契約を解約後、速やかに本サービス提供を停止します。また当社は、当社の判断により、本サービスで保存していた利用者及び利用者の顧客に関するデータを消去することができるものとします。</li>
<li>4.本条第１項及び第２項の規定により利用契約が解約された場合、利用者は、その利用中に係る一切の債務につき当然に期限の利益を喪失し、残存債務の全額をただちに支払うものとします。</li>
<li>5. 本条第１項の規定により利用契約が解約された場合、利用者は、解約日から契約期間満了日までの残期間分の利用料金全額を、当社の指示する方法で一括して支払うものとします。</li>
</ul>
<h4>第２６条（秘密保持）</h4>
<ul>
<li>1. 当社及び利用者は、契約期間中に利用契約に基づき知り得た相手方が保有又は管理する技術上又は営業上の情報で秘密である旨を書面により明示して開示された情報及び利用者においては当社が秘密に扱うことを指定して開示した情報（以下「秘密情報」という）を善良なる管理者の注意をもって管理するものとし、当該相手方の事前の書面承諾を得ることなく第三者に開示、漏洩等してはならないものとします。また、秘密情報を利用契約で規定されて義務を履行する目的のために必要な範囲においてのみ使用するものとし、他の如何なる目的にも使用してはなりません。但し、次の各号に掲げることを証明できる情報については、この限りではありません。（以下、秘密情報を開示したものを「開示者」といい、秘密情報を受領したものを「受領者」という）
<ul>
<li>1.秘密情報を知得した時に、公知公用となっている情報</li>
<li>2.秘密情報を知得した後に、受領者の責によらず公知公用となった情報</li>
<li>3.秘密情報を知得した時に、受領者が既に知得していた情報</li>
<li>4.秘密情報を知得した後に、受領者が秘密情報によることなく、独自に開発した情報</li>
<li>5.秘密情報を知得した後に、受領者が正当な権利を有する第三者から如何なる守秘義務も負うことなく、かつ、適法に入手した情報</li>
<li>6.秘密情報を開示者より、秘密として取り扱わない旨、指定された情報</li>
</ul>
</li>
<li>2.当社及び利用者は、相手方の秘密情報を業務上知る必要のある者であって、利用契約の条項に拘束され、これを遵守することに同意した従業者に対してのみ、秘密情報を開示出来るものとします。</li>
<li>3.当社及び利用者は、相手方の秘密情報を、必要かつ合理的な範囲を超えて複写・複製しないものとし、これを超えて複写・複製を必要とするときは、相手方の承諾を得るものとします。</li>
<li>4.当社及び利用者は、相手方の秘密情報を含む書類及び秘密情報を化体した物品について、善良なる管理者の注意義務をもって管理するものとし、万一紛失した場合は、ただちに、相手方にその旨を通知し、その後の措置について相手方の合理的内容の指示に従うものとします。</li>
<li>5.当社及び利用者は、秘密情報を保護するための管理策を講じ、業務遂行上必要な範囲を逸脱して、秘密情報を利用しないよう管理・監督しなければなりません。</li>
<li>6. 当社及び利用者は、本契約が終了した場合、相手方に対して開示した秘密情報を記載した一切の文書（電子データを記憶した媒体を含む）について、合理的方法にて返却又は廃棄を求めることができるものとし、相手方は、これに速やかに従うものとします。</li>
</ul>
<h4>第２７条（反社会的勢力との関係排除）</h4>
<ul>
<li>1.当社及び利用者は、次の各号に定める事項を表明し、保証します。
<ul>
<li>1.自己及び自己の役員が反社会的勢力（平成19年6月19日付犯罪対策閣僚会議発表の『企業が反社会的勢力による被害を防止するための指針』に定義する「反社会的勢力」をいう。以下同じ。）でないこと、また反社会的勢力でなかったこと</li>
<li>2.自己及び自己の役員が、自己の不当な利得その他目的の如何を問わず、反社会的勢力の威力等を利用しないこと</li>
<li>3.自己及び自己の役員が反社会的勢力に対して資金を提供するなど、反社会的勢力の維持運営に協力しないこと</li>
<li>4.自己及び自己の役員が反社会的勢力と社会的に非難されるべき関係を有しないこと</li>
<li>5.自己及び自己の役員が自ら又は第三者を利用して、相手方に対し暴力的な要求行為、法的な責任を超えた不当な要求を行い、相手方の名誉や信用を毀損せず、また、相手方の業務を妨害しないこと</li>
</ul>
</li>
<li>2.当社及び利用者は、前項各号に違反する事実が判明した場合には、相手方に直ちに通知するものとします。</li>
<li>3.当社又は利用者は、相手方が本条に違反した場合は、何らの通知催告を要せず、直ちに本契約の全部又は一部を解除することができるものとします。</li>
<li>4.当社又は利用者は、相手方が本条の規定に違反したことにより損害を被った場合、相手方に対し、前項に基づく契約解除にかかわらず当該損害について本契約に基づく損害賠償を請求できるものとします。</li>
</ul>
<h4>第２８条（分離性）</h4>
<p>本規約のいずれかの条項が無効とされた場合でも、本規約の他の条項は、引き続き完全な効力を有するものとします。</p>
<h4>第２９条（準拠法）</h4>
<p>本規約の成立、効力、解釈及び本規約に基づき発生する義務の履行等については、日本国法に準拠するものとします。</p>
<h4>第３０条（合意管轄等）</h4>
<ul>
<li>1.本サービスに関連して利用者と当社との間で問題が生じた場合には、両者が誠意をもって協議の上解決するものとします。</li>
</ul>
				</div>
        </div>

<style>
  .page_title {
    margin: 0;
    padding: 100px 0;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

#main-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}
</style>