<div class="container">



<!-- header ********************************************************************** -->
<header class="header bg_brue">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="row fontwhite">
          <div class="span8">
            <h1 class="dispt ml5">
			  <div class="disptc vam pr1 w10"><img src="style/images\logo\logo218.png" id="imgLogo" class="mr1 logo" /></div>
			  <div class="disptc vam pr3 w80"><span id="lblClinicName">方南町さくらクリニック</span></div>
			</h1>
          </div>
          <div class="hiddapp tar span4" style="display:none">
            <div class="addr mt30 ml10"><span id="lblClinicAddress">東京都杉並区方南2丁目20-5-1F</span></div>
            <div class="tel mt10"><img class="mr1" src="./style/images/tel.png"><span id="lblClinicTelephone">03-3315-1315</span></div>
          </div>
        </div>
      </div>
    </div>
</header>



<!-- main ********************************************************************** -->
<h4 class="title ml1">利用規約</h4>
<div class="box4 agreement">
<b>第１条（総則）</b>
本規約は、株式会社ヨヤクル（以下「弊社」と称す）は、弊社が運営する予約システム『Ｙｏｙａｋｕｒｕ』（以下「本サービス」と称す）を提供するにあたり、その利用について定めたものです。当サービスをご利用いただくにあたっては、あらかじめ当規約に同意した上で、当サービスを利用するものとします。

<b>第２条（本サービス）</b>
本サービスとは、インターネットを通じ、弊社が指定する方法により、弊社と契約する医院への診療予約、当日受付を行う機能である。

<b>第３条（ユーザー登録）</b>
<ol class="pl2"><li>利用者が本サービスを利用するに当たっては、氏名、連絡先等、弊社が要求する項目を、弊社が指定する手続きにより登録していただきます。
<li>前項により登録を行った利用者を「登録ユーザー」と規定します。
<li>ユーザー登録は無料といたします。
<li>ご登録いただいた情報はご利用時に限りご登録された医院へのみ提供いたします。
</ol>
<b>第４条（本サービスの利用）</b>
<ol class="pl2"><li>本サービスは、前条に規定する登録ユーザーのみご利用いただけます。
<li>登録ユーザーが本サービスを利用するに当たっては、本規約に定める事項に従っていただきます。
</ol>
<b>第５条（利用制限）</b>
登録ユーザーが本規約に違反したと弊社が判断した場合、あるいは第６条の禁止事項に該当する行為があると認められる場合には、システムの利用が出来なることがあります。

<b>第６条（禁止事項）</b>
<ol class="pl2"><li>ユーザー登録に、虚為の内容を登録すること
<li>虚為、不当な診療予約、当日受付を行うこと
<li>他者の代わりに、本人の承諾なくユーザー登録及び診療予約、当日受付を行うこと
<li>本サービスの運営を不当に妨害し、弊社及び弊社と契約する医院に不利益を生じさせること、またその恐れがある行為
<li>他の登録ユーザーもしくは第三者に対し、その権利を妨害し、損害を与えること、またはその恐れがある行為
<li>前各号のほか、弊社が不適切と判断する行為
</ol>
<b>第７条（個人情報のお取り扱いについて）</b>
◆ 取引先の医療機関から収集する患者情報について
<div class="pl2">当社は医療機関における患者サービス向上のためのシステムに於いて、患者様のカルテ情報及び個人情報をお預かりし、システムを運用する事に限り利用させて頂きます。お預かりした患者様の個人情報の取り扱いについて、患者様からの事前の同意を得ずに第三者に提供（または開示）いたしません。 ただし、次の各号に該当する場合は患者様の事前の同意を得ることなく、患者様の個人情報を第三者に提供することがあります。
<ol class="pl2">
<li>法令の定めに基づく場合
<li>人の生命、身体または財産の保護のために必要であって、患者様の同意を得ることが困難である場合
<li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに協力する必要があり 、患者様の同意を得ることにより当該事務の遂行に支障を及ぼす恐れがある場合
</ol></div>
◆ 個人情報の開示・修正・削除
<ol class="pl2"><li>当社にて保管された個人情報は、情報主体者からの電話、Eメール及び書面での要求に応じてこれを開示・修正・削除いたします。また、各種要求には、所定の方法にて本人確認をしたうえで書面にてこれに応じます。
<li>個人情報の利用目的の通知及び開示・修正・削除をご希望される場合、お手数ではございますが下記の連絡先までお問い合わせ下さい。個人情報の開示・修正・削除の弊社所定の方法についてお答え致します。
</ol>
◆ 個人情報利用原則
<div class="pl2"><ul><li>個人情報の利用は、収集目的の範囲内で、具体的な業務に応じ権限を与えられた者のみが、業務の遂行上必要な限りにおいて行うものとします。
</ul></div>
◆ 禁止事項
<ul class="pl2"><li>個人情報を第三者に提供することを原則として禁止します。
<li>個人情報の目的外利用、通常の利用場所からの持ち出し、外部への送信等の個人情報の漏えい行為をいたしません。
<li>当社従業者は、業務上知り得た個人情報の内容をみだりに第三者に知らせ、又は不当な目的に使用してはなりません。その業務に係る職を退いた後も、同様とし必要な措置を講じます。
<li>次に示す内容を含む個人情報の収集、利用又は提供を行いません。
<ol>
<li>思想、信条及び宗教に関する事項
<li>人種、民族、門地、本籍地（所在都道府県に関する情報を除く。）、身体・精神障害、犯罪歴、その他社会的差別の原因となる事項
<li>勤労者の団結権、団体交渉及びその他団体行動の行為に関する事項
<li>集団示威行為への参加、請願権の行使及びその他の政治的権利の行使に関する事項
<li>保健医療及び性生活に関する事項
</ol></ul>
<b>第８条（本サービスの中断）</b>
弊社は、次の各号のいずれかに該当する場合には、事前に通知することなく、一時的に当サイトにおけるサービスの一部または全部を中断する場合があります。
<ol class="pl2">
<li>当サイトのシステム保守点検を定期的または緊急に行う場合
<li>火災、停電、その他やむを得ない事由によりサービスの提供ができなくなった場合
<li>運用上、弊社が一時的な中断が必要と判断した場合
</ol>
<b>第９条（免責事項）</b>
<ol class="pl2"><li>本サービスの提供、または当サービスの変更、遅延、中止、廃止、その他本サービスに関わり登録ユーザーまたは第三者に直接的または間接的に生じた損害についての責任を負いません。
<li>当規約に定める場合のほか、いかなる場合であろうとも、契約医院と登録ユーザーとの間での行為については、弊社は登録ユーザーに対し責任を負わないものとします。
</ol>
<b>第１０条（管轄裁判所）</b>
登録ユーザーと弊社の間で本サイトに関する訴訟が生じた場合は、東京地方裁判所を第一審の専属の管轄裁判所とします。

<b>第１１条（その他）</b>
<ol class="pl2"><li>弊社は、登録ユーザーに適当な方法で通知することにより、本規約を変更できるものとします。
<li>本サービスの利用に関して、本規約に定めのない事項について問題が生じた場合、当事者間で誠意をもって話し合い、解決に当たるものとします。
<li>本サービスの利用に関して、当事者間の話し合いで解決できない紛争が生じた場合、第１０条の管轄裁判所において、日本の法令に従い解決されるものとします。
</ol>
制定日 ２００５年１２月１６日
改定日 ２０１５年５月１日

問い合わせ
〒１５１－００５１
東京都渋谷区千駄ヶ谷５－２９－１１
ナカニシビル６Ｆ
相談窓口 ０３－６４５７－４２１３
</div>
<div align="center">
	<a id="lnkYes" tabindex="1" class="btn btn-info w25 rc20" href="KI003.aspx" href="javascript:__doPostBack(&#39;lnkYes&#39;,&#39;&#39;)">同意する</a>
	<a id="lnkNo" tabindex="2" href="KI001.aspx" class="btn btn-info w25 rc20" href="javascript:__doPostBack(&#39;lnkNo&#39;,&#39;&#39;)">同意しない</a>
</div>