.color {
            color: red;
        }

        .m-t-50 {
            margin-top: 50px;
        }

        .flex {
            display: flex;
        }

        .icon_design {
            color: green;
            margin-top: 2px;
        }

        .input_design {
            border: 1px solid black;
        }

        .submit-color {
            background: #8bc34a;
            color: white;
            width: auto;
            padding: 10px 30px;
            font-size: 20px;
        }