<div class="custom-login-box line_top">
  <div class="custom-login-box-body">
    <div style="text-align: center;">
      <div style="margin-bottom: 10px;">ラインへの友達登録をお願いします</div>
      <div><%= image_tag 'usamaru.jpg', :size =>'160x140' %></div>
    </div>
    <div style="text-align: center; margin-top: 10px;">
      <a href="http://nav.cx/9kMihAn"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
    </div>
  </div>
</div>