
    body {
        margin: 0 auto;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }
    #calendar {
        width: 98%;
        margin: 0 auto;
    }
    .fc-header-toolbar{
        padding-top:10px;
        margin-bottom: 6px!important;
    }
    .fc-day-grid-event .fc-content{/*--ver 3.9.0 word wrap------*/
        white-space: normal!important;
        word-wrap:break-word!important;
    }
    /*-- iPhone Vertical View--*/
    @media screen and (max-width: 480px) {
        .fc-event {
            font-size:18px;/*--event title font size--*/
            margin-bottom: 4px;/*--　帯の隙間 event clearance--*/
        }
        /*-- ヘッダ　ツールバー --*/
        .fc-header-toolbar{
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            z-index:9;
            background-color:white;
        }
        .fc-center h2{ /*-- 年月表示 --*/
            margin-top:10px;
        }
        /*-- カレンダーヘッダ Sun to Sat --*/
        .fc-head{
            position: -webkit-sticky;
            position: sticky;
            top: 86px;
            z-index:10;
            background-color:#e9e9e9;/*--背景色--*/
        }
    }
