.help_modal {

  #fab {/*円の部分*/
    display: block;
    width: 56px;/*幅*/
    height: 56px;/*高さ*/
    background: #03a9f4;/*背景色*/
    text-align: center;/*中央寄せ*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
  }

  #fab:hover {/*ホバー時の影*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }

  #fab i {/*中央のアイコン*/
  color: white;
  line-height: 56px;/*＝幅と高さ*/
  font-size: 18px;/*サイズ*/
  }

  .modal-width {
    width: 90%!important;
    max-width: unset;
  }
}

.fixed_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  }