@import "bootstrap";
.user_container {
  margin-top: 20px;

  @media screen and (max-width:450px){
    padding:0
  }
}

.bg_user_color {
  background-color: #97d8f5 !important;
  box-shadow: 2px 2px 4px gray;
}