<div class="help_modal">
  <!-- Modal -->
  <div class="modal fade" id="IntroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-width" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <iframe id="ston-CgZCfgcw8G" width="100%" height="815" frameBorder="0" name="StonlyExplanation" allowfullscreen src="https://stonly.com/sl/5e7c85a3-a89c-46f0-a0e5-98ec6f13114b/Steps/"> </iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>