<nav class="navbar navbar-expand-lg navbar-light bg-public">
  <%= link_to @calendar.calendar_name, calendar_tasks_path(@calendar), class:"navbar-brand" %>
  <% if browser.device.mobile? %>
    <%= render 'layouts/sp/public_sp_header' %>
  <% else %>
    <%= render 'layouts/sp/public_sp_header' %>
  <% end %>
</nav>