<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to @calendar.calendar_name, calendar_tasks_path(params[:calendar_calendar_name]), class:"navbar-brand" %>
  <i class="fas fa-phone-square-alt"></i><p>TEL:<%= @calendar.phone %></p>
  <p><i class="fas fa-map-marker-alt"></i>住所:<%= @calendar.address %></p>
</nav>