<div class="container user_container" data-intro="店舗側の予約管理画面です。この画面で、お店側での予約の作成・編集・移動・キャンセルができます。" data-step="1">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
</div>

